<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span>Laudo</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="button-group">
    <ion-button
      color="primary"
      [fill]="visible == 'cadastrados' ? 'solid' : 'outline'"
      (click)="visible = 'cadastrados'"
      >Cadastrados</ion-button
    >
    <ion-button
      color="primary"
      [fill]="visible == 'rascunho' ? 'solid' : 'outline'"
      (click)="visible = 'rascunho'"
      >Rascunho</ion-button
    >
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="margin-list" *ngIf="visible === 'cadastrados'">
    <ion-item-sliding *ngFor="let ambiente of ambientes">
      <ion-item-options side="start">
        <ion-item-option (click)="deleteAmbiente(ambiente)" color="danger" expandable>
          Excluir
        </ion-item-option>
        <ion-item-option (click)="editAmbiente(ambiente)" color="primary" expandable>
          Editar
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          {{ ambiente.nome }}
        </ion-label>
        <ion-note slot="end">
          {{ ambiente.itens.length }}
          {{ ambiente.itens.length == 1 ? "Item" : "Itens" }}
        </ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="margin-list" *ngIf="visible === 'rascunho'">
    <ion-item-sliding *ngFor="let ambiente of ambientesStorage">
      <ion-item-options side="start">
        <ion-item-option (click)="delete(ambiente)" color="danger" expandable>
          Excluir
        </ion-item-option>
        <ion-item-option (click)="edit(ambiente)" color="primary" expandable>
          Editar
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          {{ ambiente.nome }}
        </ion-label>
        <ion-note slot="end">
          {{ ambiente.itens.length }}
          {{ ambiente.itens.length == 1 ? "Item" : "Itens" }}
        </ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addAmbiente()"
        ><ion-icon name="add"></ion-icon
      ></ion-fab-button>
      <ion-fab-button (click)="saveLaudo()"
        ><ion-icon name="save"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
