<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Laudo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              [routerDirection]="'root'"
              *ngIf="!isLoggedIn"
              routerLink="/login"
              routerLinkActive="active"
            >
              <ion-label><span>Login</span></ion-label>
            </ion-item>
            <ion-item
              [routerDirection]="'root'"
              routerLink="/vistorias"
              routerLinkActive="active"
            >
              <ion-label><span>Vistorias</span></ion-label>
            </ion-item>
            <ion-item
              [routerDirection]="'root'"
              routerLink="/reports"
              routerLinkActive="active"
            >
              <ion-label><span>Laudos</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
